header{
  background-image: -webkit-linear-gradient(#00349a, #00349a 60%, #00349a);
  color: #fff;
  min-height: 100px;
  padding-top: 25px;
}

header form{
  float: right;  
}

header .logo{
  float: left;
}
.logo {
  width: 120px;
}

.container-myspace {
  clearfix: none;
  padding-left: 20px; 
}

.form-inline {
  padding-right: 20px;
}

.checkbox {
  padding-top: 7px;
}

.panel-heading {
 background-image: -webkit-linear-gradient(#00349a, #00349a 60%, #00349a);
    color: #fff; !important;
}

.panel-title{
    color: #fff; !important;
}

.comment-avatar img{
width: 40px;
margin-right: 5px;  
}